asgiref==3.10.0
certifi==2025.10.5
charset-normalizer==3.4.4
diff-match-patch==20241021
dj-config-url==0.1.1
django==5.2.8
django-cors-headers==4.9.0
django-crispy-forms==2.4
django-humanize==0.1.2
django-import-export==4.3.13
django-leaflet==0.33.0
django-simple-history==3.10.1
django-unfold==0.99.0
gunicorn==23.0.0
humanize==4.14.0
idna==3.11
import-export==0.3.1
packaging==25.0
pillow==12.0.0
pip==26.1.2
psycopg2-binary==2.9.11
pyproj==3.7.2
python-dotenv==1.2.1
requests==2.32.5
sqlparse==0.5.3
tablib==3.9.0
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.11.0
