{% extends "admin/change_form.html" %}
{% load i18n unfold leaflet_tags %}

{% block extrahead %}
    {{ block.super }}
    
    {% leaflet_js %}
    {% leaflet_css %}
    
    <style>
        /* Asegurar que el mapa respete los bordes redondeados y no flote sobre los selectores */
        .leaflet-container { 
            z-index: 1 !important; 
            border-radius: 0.5rem; 
            border: 1px solid rgba(156, 163, 175, 0.2);
        }
        
        /* Opcional: Darle más altura al mapa en la vista de edición para trabajar mejor */
        [id^="map-reporte-"] {
            height: 400px !important;
        }
    </style>
{% endblock %}