    <div class="border border-transparent rounded-default flex flex-col overflow-hidden text-white lg:flex-row lg:items-center" style="background-color: rgba(12,109,189,0.98);">
        <span class="p-3 pr-0 flex flex-row items-center">
            <span class="material-symbols-outlined mr-2">
                forum
            </span>

            <h2 class="font-semibold">
                Comunicarse con migo para conocer mejor el proyecto
            </h2>
        </span>

        <div class="border-t border-primary-700 flex flex-row gap-3 grow p-3 lg:border-t-0">


            <a href="www.linkedin.com/in/raulanto" class="flex items-center group font-semibold ml-auto whitespace-nowrap" target="_blank">

                    Linkedin
                <span class="material-symbols-outlined ml-2 relative right-0 transition-all text-sm group-hover:-right-1">arrow_forward</span>
            </a>
        </div>


    </div>