{% extends "admin/change_list.html" %}
{% load i18n unfold humanize %}

{% block result_list %}
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-6">
        
        {% component "unfold/components/card.html" with title="Levantamientos" label="Total" %}
            <p class="text-3xl font-bold ">
                {{ kpi_total_registros }}
            </p>
        {% endcomponent %}

        {% component "unfold/components/card.html" with title="Volumen de Corte Total" label="Extraído" %}
            <p class="text-3xl font-bold text-red-600 dark:text-red-400 font-mono">
                {{ kpi_total_corte|floatformat:0|intcomma }} <span class="text-sm">m³</span>
            </p>
        {% endcomponent %}

        {% component "unfold/components/card.html" with title="Volumen de Relleno Total" label="Aplicado" %}
            <p class="text-3xl font-bold text-blue-600 dark:text-blue-400 font-mono">
                {{ kpi_total_relleno|floatformat:0|intcomma }} <span class="text-sm">m³</span>
            </p>
        {% endcomponent %}

        {% component "unfold/components/card.html" with title="Balance Neto de Obra" label="Diferencia" %}
            <p class="text-3xl font-bold  font-mono">
                {{ kpi_balance_neto|floatformat:0|intcomma }} <span class="text-sm">m³</span>
            </p>
        {% endcomponent %}

    </div>

    {{ block.super }}
{% endblock %}