{% extends "admin/change_list.html" %}
{% load i18n unfold %}

{% block result_list %}
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-6">
        
        {% component "unfold/components/card.html" with title="Total Elementos" label="Global" %}
            <p class="text-3xl font-semibold ">
                {{ kpi_total }}
            </p>
        {% endcomponent %}

        {% component "unfold/components/card.html" with title="Elementos Terminados" label="Estatus" %}
            <p class="text-3xl font-semibold text-emerald-600 dark:text-emerald-400">
                {{ kpi_terminados }}
            </p>
        {% endcomponent %}

        {% component "unfold/components/card.html" with title="Avance de Ejecución" label="%" %}
            <p class="text-3xl font-semibold text-blue-600 dark:text-blue-400">
                {{ kpi_avance_promedio }}%
            </p>
        {% endcomponent %}

        {% component "unfold/components/card.html" with title="Volumen Acumulado" label="m³" %}
            <p class="text-3xl font-semibold text-purple-600 dark:text-purple-400">
                {{ kpi_volumen_total }}
            </p>
        {% endcomponent %}

    </div>

    {{ block.super }}
{% endblock %}